build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.env
venv/
.venv/
.venv36/
.venv37/
.venv38/
.venv39/
.vscode
.vscode/
.pytest_cache/
.cache
.tox
.coverage*
.cache/
.mypy_cache/
.python-version
.test.env.toml
.env.toml

# app specific ignore
output.txt
test_output.txt
